html {
    font-family: arial, sans-serif;
    background: #e3e3e3;
    margin: 50px;
}

table {
    border-collapse: collapse;
    margin: 20px;
}

table, th, td {
    border: 1px solid black;
    padding: 3px 10px;
    text-align: center;
}

td {
    vertical-align: top;
}

input, button, select {
    margin: 5px 0;
}